header{
    background-color: rgba(35, 95, 128, 0.66);
}
body{
    background: #e4e2e2;
    font-size: 16px;
    font-weight: normal;
    font-family: "Calibri Light";
}
h1,h2{color: #00008b;
}
input[type="text"],[type="email"]{
    background-color: #dad6d6;
    color: #161601;
    font-size: 14px;
    font-family: "Times New Roman";
    text-transform: capitalize;
    }
    textarea{background-color: #dad6d6;
        color: #161601;
        font-size: 14px;
        font-family: "Times New Roman";
        text-transform: capitalize;}


a:hover{
    color: #02312d;
}

.title {
    width: 600px;
    height: 200px;
    border-radius: 28px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.4);
}

.logo {
    
    border-radius: 28px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.4);
}

.mrefstyle a:hover{color: #050786;}

.mrefstyle > p1 {
    list-style-image: url("../../img/preview/home.jpg");
}
.mrefstyle > p2 {
    list-style-image: url("../../img/preview/catalog.jpg");
}
.mrefstyle > p3 {
    list-style-image: url("../../img/preview/contacts.jpg");
}
.mrefstyle li a {
    font-family: "BankGothic Md BT", Italic;
    font-size: 25px;
    font-weight: 400;
    color: #8cecd5;
    border-radius: 35px;
    box-shadow: 4px 4px 14px rgba(0,0,0,0.25);
    }
h1{font-family: "Malgun Gothic";
    box-shadow: 8px 8px 24px rgba(0,0,0,0.25);
    border-radius: 18px;
    border-style: double;}


.describeTitles{
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    background-color: #a5a3a3;
}
.shortDescribeText{
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
    }
.shortDescribeText::first-letter, .describeText::first-letter,.productFeatures::first-letter{
    color: #0eddf8;
    font-size: 28px;
    }
.describeText{
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.productFeatures{
    color: #756e6e;
    font-weight: 600;
    list-style-image: url("../../img/preview/cube.jpg");
    line-height: 24px;
}
.image img {
    border: 3px double  #00a8e1;

}
.emailstyle:focus{
    background-color: #8cecd5;
    color: #313101;
    font-size: 14px;
    font-family: "Times New Roman";
    font-weight: 600;
}
.shortDescribeText ::first-letter{
    font-family: "Times New Roman", Times, serif; 
    font-size: 24; 
    color: red;    
}
.tabProductFeatures tr td{
    background-color: #cfcfe4;
    text-align: center;
      
   
}
.tabProductFeatures caption{
    background-color: #cfcfe4;
}


footer{
    font-size: smaller;
    text-decoration-line: underline;
    background-color: rgba(35, 95, 128, 0.66);

}